<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bernadette's Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/blogPosts.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll">

    <!-- Intro Header -->
<header class="intro-header" style="background-image: url('images/road-in-a-field-of-flowers.jpg')">
        <div class="overlay">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2 class="postTitle">3D Making</h2>
                    </div>
                </div>
            </div>
        </div>

     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#projectBlog">Project Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>   
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </header>

    <!-- Actual blog post -->
    <section id="3DMakingBlogPost">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Putting the printer to use</h3>
                <p>
                Making the printer was pretty fun, but after printing a few calibration cubes to reassure myself, it sort of sat around for a bit. I printed a couple of guitar picks for friends, but those are flat, easy prints.
                </p>
                <p>
                I found out as I started printing a larger variety of items that different types of objects might require attention and tweaking. I also picked up a few tricks and observations if you'd like to hear them.
                </p>
                <div class="row">
                <div class="col-lg-8">
                <p>
                One thing I learned is how much of a difference the fan makes. It really makes a difference in terms of precision. I was printing some parts for a 3D printed version of the <a href="http://store.hackaday.com/products/mearm-pocket-sized-robot-arm"> MeArm</a>, and the parts I printed without the fan were not very usable. Without the fan blowing the filament didn't dry quickly enough as it was laid down, so the holes for screws and joints weren't big enough. Filament would droop into them during the print. I'm not sure how clearly you can see the difference in thise pictures, but here's a piece printed without the fan on (left) and one with the fan on (right):
                </p>
                </div>
                <div class="col-lg-4">
                <img src="images/comparison_fan_pieces.jpg" width="45%" height="45%"/> <!--pic of mearm piece fan and no fan-->
                </div>
                </div>
                <p>
                I'm wondering if I should bother printing the rest of the MeArm, or just replace a few of the wooden parts I alerady have for it - I haven't thought of anything ultra cool and useful I would want to do with it. 3D printing is a pretty slow process, and since I bought a very cheap extruder (I actually broke the acquaintance's extruder at one point, bought another to replace it haha) it actually leaks melted PLA as I print, so sometimes I have to supervise it. If it leaks too much, melted PLA will droop down and interfere with the print. I'd say it's a good idea to invest in a high quality extruder if you are planning to 3D print a lot.
                </p>
                <div class="row">
                    <div class="col-lg-3">
                    <div class="row">
                    <img src="images/gear1.jpg" width="70%" height="70%"/> <!--pic of gear 1 prototype-->
                    <p>Proper gear prototype 1. It's pretty cute!</p>
                    </div>
                    </div>
                    <div class="col-lg-9">
                    <p>
                    A good friend of mine is making a home made motor right now, so she's asked me to print some gears for her. She's actually designing them herself on AutoCad, so in the meantime we've been printing small prototypes.

                    We've gotten the dimensions mixed up a few times. Slic3r gives dimensions in millimeters, but we didn't know that at first and I hadn't really paid attention to it prior, so this is what the first gear ended up printing as:
                    </p>
                     <center><img src="images/super_small_gear1.jpg" width="30%" height="30%"/> </center><!--pic of dot gear --> 
                    </div>
                </div>
                    <p>
                    One print that gave me some trouble was the gameboy. A friend (the same one, actually! She's quite the maker!) asked me to print a shell for a DIY gameboy she was making. Here's a situation in which turning the fan off for a part of the print was actually a good idea:
                    </p>
                   <center><img src="images/rippled_gameboy.jpg" width="40%" height="40%" align="middle"/></center>  <!--pic of rippled gameboy -->
                <p>
                I was printing the bottom the gameboy shell here. What was happening here was that the infill for the bottom was printing at a slow speed, and the filament was drying as it was being laid down. It was drying slowly enough so that it would drop low enough to stick to the lines of infill that had been set down right before it, but fast enough so that it was drying before it had completely fallen onto the platform. This would cause the piece to print sort of mid-air, if that makes sense. It was forming elevated ripples, as shown in the picture above. I fixed this in another round of printing by speeding up the infill printing speed, then turning off the fan for at least the first layer of infill. This made it harder for the PLA to dry quickly.
                </p>
                <div class="row">
                    <div class="col-lg-7">
                    <p>
                    Here's a humorous, student-budget fix. At one point the fan was positioned a bit too low, such that it would scrape and interfere with the print. Sometimes the fan shroud would actually get melted by hitting the extruder and touch the hot PLA:
                    </p>
                                    <p>
                Part of the problem was that the fan holder provided with the kit didn't actually line up with the holes on the motor bracket, so it was just dangling from one nut and bolt through a hole at the top left corner of the motor bracket. Another was that it was too low after replacing the extruder with one that had a shorter barrel than the previous one.
                </p>
                    </div>
                    <div class="col-lg-5">
                    <img src="images/melted_fan_shroud.jpg" width="50%" height="50%" align="middle"/>
                    </div>
                </div>

                <p>
                I tried looking for another fan holder + shroud combination to print on Thingiverse, but since this isn't a standard kit I had a lot of trouble finding one that matched the setup and dimensions of this particular fan-motor-bracket-extruder mechanism. I would really liked to have custom designed one, but I don't have enough space on my personal laptop for AutoCad. So for a while I simply scotch taped the fan to a higher position:
                </p>
                <center><img src="/images/taped_fan.jpg" width="20%" height="20%"/></center>
                <p>
                Eventually I did a kind of more "proper", but still humorously budgeted fix. Seeing as the fan holder provided was definitely 3D printed I figured it was made of PLA or ABS and could be melted. So I soldered a bigger hole into the fan holder so it could be repositioned higher (I don't have a drill or access to one), then filled up the excess space at the top of the hole by melting PLA into it with the printer. The blob of PLA didn't allow for enough space for the nut and bolt to reach through the fan, holder, and bracket anymore, so I ended up just sanding it down until it was level once again.
                </p>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact" class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Contact Me</h3>
                <p>Questions? Comments? Email me!</p>
                <p>                
                    <a href="berdao.09@gmail.com" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-envelope"></i> <span class="network-name">Email</span></a>
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Bernadette Dao &copy; 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/blog.js"></script>

</body>

</html>
