<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bernadette's Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="stylesheets/index.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!--added by me-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll">

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
                        <div class="overlay">
                        </div>
            <div class="container">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">

                        <div class="site-heading">
                            <h1 class="brand-heading">Adventures and Reflections</h1>
                             <span class="subheading">Blog posts and projects by Bernadette</span>
                        </div>
                        <a href="#welcome" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#projectBlog">Project Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>   
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <!-- About Section -->
    <section id="welcome" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Welcome</h2>
                <p>Welcome to my blog! Here I'll be posting my small struggles and victories while I work on hardware and software projects. Maybe I'll throw in a few posts about school and life as well. If you are doing similar projects and are looking for someone to discuss blocking issues with, shoot me an email. I'd be more than happy to exchange ideas! </p>
                <p>
                Right now I've vomited three posts at once because I've been meaning to post these for a while, but hadn't made a site and put it up yet, haha. Sorry for the mass posts!
                </p>
            </div>
        </div>
    </section>

    <!-- About Section -->
<div class="container" id="about">
    <div class="about-section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2>About Me</h2>
            <img src="images/generic-profile-pic.png">
            <p>A picture of a happy me.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2></h2>
            <p>
            </p>
            <p>I am a second year undergraduate student in the Electrical Engineering program at the 
            <a href="https://www.ubc.ca/">University of British Columbia</a>.
            </p>
            <p>
            Currently I'm on an internship with
            <a href="http://www.ibm.com/ca-en/"> IBM</a> Canada's software lab.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
            <h2></h2>
            <p>
            Some of the things I can do and use:
            <ul>
                <li>
                Coding in C, ARM and 8051 Assembly, VHDL
                </li>
                Coding in Javascript, Jquery, Node.js
                <li>
                HTML, CSS, Bootstrap
                </li>
                <li>
                XML, DITA
                </li>
                <li>
                3D printing
                </li>
                <li>
                Oscillope, Multimeter, Signal Generator,Soldering Gun, Breadboard, MCU, FPGA
                </li>
            </ul>
            </p>
        </div>
    </div>
    </div>
</div>

        <!-- Blog Posts -->
    <div class="container" id="projectBlog">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <div class="post-preview">
                    <h1 class="blog-heading">BLOG</h1>
                    <a href="3DMaking">
                        <h3 class="post-title">
                            Time to 3D print actually useful items
                        </h3>
                        <h4 class="post-subtitle">
                            I was sitting around printing trinkets, when a friend asked me to print something for one of her projects
                        </h4>
                    </a>
                    <p class="post-meta">February 1, 2016</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="3DprinterPost">
                        <h3 class="post-title">
                            Making a 3D printer
                        </h3>
                        <h4 class="post-subtitle">
                            Making a 3D printer from scratch on a student budget
                        </h4>
                    </a>
                    <p class="post-meta">February 1, 2016</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="robotArmPost">
                        <h3 class="post-title">
                            Little robot arm
                        </h3>
                        <h4 class="post-subtitle">
                            Not a long post. Just me fiddling around a bit
                        </h4>
                    </a>
                    <p class="post-meta">February 1, 2016</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <section id="contact" class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Contact Me</h3>
                <p>Questions? Contact? Email me!</p>
                <p>                
                    <a href="berdao.09@gmail.com" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-envelope"></i> <span class="network-name">Email</span></a>
                </p>

            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Bernadette Dao &copy; 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="javascripts/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="javascripts/blog.js"></script>

</body>

</html>
