<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bernadette's Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/blogPosts.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll">

    <!-- Intro Header -->
<header class="intro-header" style="background-image: url('images/math.jpg')">
        <div class="overlay">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2 class="postTitle">Pharmacy Assistant - automated pill counter</h2>
                    </div>
                </div>
            </div>
        </div>

     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#projectBlog">Project Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>   
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </header>

    <!-- Actual blog post -->
    <section id="3DMakingBlogPost">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>The PharmAssist</h3>
                <p>
                This started as a hackathon project, but my partner and I didn't finish in time to submit it into the competition. We decided to continue working on it after the hackathon anyways. Didn't want to leave a project undone! We made an automated pill dispenser and counter, with a corresponding web client. The web client is aimed for logging pharmacy data, such as patient and medication information.
                </p>
                <p>
                A lot of my university friends are in pharmacy or were aiming for pharmacy school, and have been volunteering at smaller neighbourhood pharmacies. When I asked them what they did at the pharmacies, I was surprised to hear that they literally counted the pills in the medication by hand. Every once in a while I hear people call pharmacists "pill counters" (I know this isn't true - pharmacists do much more than that), but it seems inefficient and prone to error to have medication being counted one-by-one with human eyes. That definitely sounds like something that could be easily automated.
                </p>
                <p>
                So we set out to design our very own automated pill dispenser and counter. My partner was actually also a coworker and computer science student, so we threw software into the combo too. We made it an Internet of Things project and whipped up a web client to input information about patients and medications pharmacists have to log as well. My partner is still taking care of the backend web development as I type this, but the basic front end and hardware is complete. Here is a picture of the pill counter:

                <!--pretty picture of pill counter-->
                </p>
                The pill counter was 3D printed, and based off of this design:
                <a href="http://www.thingiverse.com/thing:1011711">http://www.thingiverse.com/thing:1011711</a>.
                We printed some of the parts from the public library, which unfortunately has a strict two-hour per day 3D printing limit. The library had a Makerbot Replicator 2, and the preview of a standard quality tank for the dispenser on Makerbot's desktop predicted over seven hours... seeing as we did not want to return to the library every single day for the next two weeks and then super glue all of the segments of each part together, we simply scaled the prints along the y-axis by about 60% if I remember correctly. We also had to reduce print quality significantly to speed up the print time. I remember setting the infill to around 3%, haha. This wasn't a precision device so I wasn't too concerned. I also skimped out on the rafts. One of the library employees insisted on me using a raft for the tank as she was worried the print wouldn't adhere, so I flipped the tank upside down and printed it with a significantly smaller raft. Should it have printed a raft for the full bottom it would have taken ages. I set the printing quality to "Low" on the Makerbot desktop client. That's all I can remember off of the top of my head. I hope those tips help you if you, too, are subjected to this oppressive two hour time limit at your local 3D printer.
                <p>
                We used an IR break beam mechanism to tell when each pill was dispensed. Well, each Skittle. We used Skittles that we bought in bulk, 'cause real meds are...expensive. But I'm just going to call them "pills" for the rest of this post. We drilled holes into each side of the dispenser base where the pills would have to pass:
                <!--image of drilled base. Fish it from your fb msgs-->
                </p>
                <p>

                </p>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact" class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Contact Me</h3>
                <p>Questions? Comments? Email me!</p>
                <p>                
                    <a href="mailto:berdao.09@gmail.com" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-envelope"></i> <span class="network-name">Email</span></a>
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Bernadette Dao &copy; 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/blog.js"></script>

</body>

</html>
